body{
    background-image: url('../imagenes/alfons-morales-YLSwjSy7stw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

nav.navbar {
    background-color: white;
    color: blue;
}